/* Custom font decleration */
@font-face {
    font-family: "helveticaneue";
    src: url('../type/helveticaneue.ttf');
}
    
.btn-orangered{
    color: white;
    background-color: orangered;
    border-color: orangered;
    /* Using custom font */
    font-family: 'helveticaneue';
}

.btn-orangered:hover{
    color: white;
    background-color: #d14613;
    border-color: #d14613;
}

.btn-orangered:active{
    color: white;
    background-color: #d14613;
    border-color: #d14613;
}

.btn-orangered:disabled{
    color: white;
    background-color: #d14613;
    border-color: #d14613;
}

.btn{
    font-size: 1.5rem;
}